<div style="width: 100%;">
  <div style="border: 1px solid yellowgreen; padding: 2px; margin: 2px; border-radius: 4px;">
  <div class="w3-content">
    <div class="w3-content w3-center w3-padding-small w3-margin-top w3-margin-bottom">
      <img src="../../../assets/iconos/quejarse.png" class="w3-margin-right">
      <span class="w3-medium">{{data.message}}</span>
    </div>
    <div class="w3-content w3-center w3-medium w3-margin-top">
      <button mat-flat-button [mat-dialog-close]="false" id="no-button">Cancelar</button>
      <button mat-flat-button [mat-dialog-close]="true" id="yes-button">Si</button>
    </div>
  </div>
</div>
</div>
